.section {
  /* background: linear-gradient(to bottom, #15aba8 75%, #acd2d1 85%, #dfdfdf 95%); */
  background-color: #2a5e5d;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.presentation {
  width: 100vh;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  border: 1px solid rgb(0, 255, 157);
  margin: 0 auto;
}

/* .footer {
  height: 30%;
} */

/* .footerheader-container {
  display: flex;
  justify-content: center;
  /* Centre horizontalement */
/* align-items: center; */
/* Centre verticalement */
/* width: 100%; */
/* Prend la largeur totale de l'écran */
/* height: 100%; */
/* S'adapte à la hauteur du conteneur */
/* position: relative; */
/*
}

.footerheader-svg {
  width: 100vw;
  /* Prend toute la largeur de l'écran */
/* height: auto; */
/* Ajuste la hauteur automatiquement */
/* } */

.animated-left-cubes-group {
  position: absolute;
  top: 120%;
  right: -80%;
}

.animated-right-cubes-group {
  position: absolute;
  top: 120%;
  left: -80%;
}

.animated-white-cube,
.animated-pink-cube,
.vincent-character {
  transform-origin: center;
}

.vincent-character {
  transform-origin: center;
  width: 15vw;
  height: auto;
  position: absolute;
  top: 20vw;
  left: 50vw;
  translate: -50% -50%;
}

h1 {
  position: relative;
  color: white;
  font-size: 2.5rem;
}

.word-1 {
  font-style: italic;
  font-weight: 600;
}

.word-2 {
  font-style: normal;
  font-weight: lighter;
}

/*
@media (max-width: 1955px) {
 
}

@media (max-width: 1536px) {
 
}

@media (max-width: 1280px) {
  
}
*/

@media (max-width: 1024px),
(min-width: 1024px) {
  .presentation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .presentation>div {
    border: 2px solid rgb(160, 109, 43);
    border-radius: 5px;
  }

  .text-item {
    flex-grow: 1;
    text-align: center;
  }
  .img-item {
    flex-basis: 100%
  }

  .icon-item {
    padding-left: 5%;
    padding-right: 5%;
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
    border: 2px solid red;
  }

  .animated-left-cubes-group {
    display: flex;
    justify-content: center;
    position: relative;
    top: initial;
    right: initial;
  }

  .animated-left-cubes-group img {
    width: 20vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .animated-right-cubes-group {
    position: relative;
    top: initial;
    left: initial;
  }

  .animated-right-cubes-group img {
    width: 20vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* Place l'image en bas de la div */
    width: 100%;
    height: auto;
    /* Hauteur fixe ou auto */
    border: 1px solid black;
    /* Pour visualiser les limites */
  }
}

@media (max-width: 768px) {
  .presentation {
    display: grid;
    flex-wrap: nowrap;
    gap: initial;
    grid-gap: 10px;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    padding-left: initial;
    padding-right: initial;
    width: initial;
  }

  .presentation>div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
  }

  h1 {
    position: initial;
    top: 9vw;
    text-align: center;
    font-size: 2rem;
  }

  .icon-item {
    position: relative;
    border: red solid 1px;
  }

  .animated-left-cubes-group {
    display: initial;
    justify-content: initial;
    position: relative;
    top: 20%;
    right: -55%;
  }

  .animated-left-cubes-group img {
    width: 35vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .animated-right-cubes-group {
    position: relative;
    top: 20%;
    left: 5%;
  }

  .animated-right-cubes-group img {
    width: 30vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* Place l'image en bas de la div */
    width: 100%;
    height: auto;
    /* Hauteur fixe ou auto */
    border: 1px solid black;
    /* Pour visualiser les limites */
  }

}

@media (max-width: 640px) {
  .presentation {
    display: grid;
    justify-content: initial;
    width: initial;
    align-items: initial;
  }


  .text-item {
    border: 1px solid red;
  }

  .img-item {
    border: 1px solid red;
  }

  h1 {
    top: 5vw;
    text-align: center;
    font-size: 1.55rem;
  }

  .icon-item {
    position: relative;
    border: red solid 1px;
  }

  .animated-left-cubes-group {
    position: relative;
    top: 20%;
    right: -55%;
  }

  .animated-left-cubes-group img {
    width: 35vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .animated-right-cubes-group {
    position: relative;
    top: 20%;
    left: 5%;
  }

  .animated-right-cubes-group img {
    width: 30vw;
    max-height: 100%;
    border: 2px solid red;
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
  }

  .footer {
    display: none;
  }

}

@media (max-width: 475px) {
  h1 {
    top: 10vw;
    text-align: center;
    font-size: 1rem;
  }

  .animated-left-cubes-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animated-left-cubes-group img {
    width: 35vw;
    max-height: 100%;
    position: relative;
    border: 2px solid red;
    left: -50%;
  }

  .animated-right-cubes-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animated-right-cubes-group img {
    width: 30vw;
    max-height: 100%;
    border: 2px solid red;
  }
}