.section {
  background: linear-gradient(to bottom, #15aba8 60%, #4bbdb9 75%, #b781cf 95%);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.presentation {
  padding-top: 2.5rem;
  width: 100vh;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  /* border: 1px solid rgb(0, 255, 157); */
  margin: 0 auto;
  overflow: visible;
}

.img-item {
  width: 100%;
  height: 1rem;
}

.icon-item {
  position: relative;
}

.animated-polygon-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}


.title-dev-junior {
  z-index: 10;
  position: absolute;
  top: 75%;
  /* Place le texte verticalement */
  left: 75%;
  /* Place le texte horizontalement */
  transform: translate(-50%, -50%);
  /* Centre le texte précisément */
}

.title-presentation {
  z-index: 10;
  position: relative;
}

.animated-polygon-group svg {
  overflow: visible;
}

.vincent-character {
  width: 15vw;
  height: auto;
  position: absolute;
  top: 20vw;
  left: 50vw;
  translate: -50% -50%;
}

h1 {
  position: relative;
  color: white;
  font-size: 3rem;
}

.word-1 {
  font-style: italic;
  font-weight: 600;
}

.word-2 {
  font-style: normal;
  font-weight: lighter;
}

.section,
.presentation,
.icon-item {
  overflow: visible;
}

@media (max-width: 1024px),
(min-width: 1024px) {
  .presentation {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow: visible;
    gap: 2.5rem;
  }

  .title-presentation {
    position: relative;
    /* laisse le bloc parent gérer le positionnement */
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }

  .description-presentation {
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.95;
    margin: 0;
  }



  .title-dev-junior {
    text-align: start;
  }

  /* .presentation > div {
    border: 2px solid rgb(160, 109, 43);
    border-radius: 5px;
  } */
  /*
  .text-item {
    padding: 0% 2.5rem;
  }
*/

  .text-item {
    position: absolute;
    top: 30%;
    /* Ajuste verticalement dans le cadre rouge */
    left: 10%;
    /* Marge depuis le bord gauche */
    max-width: 400px;
    /* Limite la largeur du bloc texte */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Espace entre le h1 et le p */
    z-index: 10;
    color: white;
    background-color: rgb(183, 129, 207, 0.95);
    padding: 1.5rem;
    border-radius: 8px;
  }

  .icon-item {
    padding-left: 5%;
    padding-right: 5%;
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
    /* border: 2px solid red; */
  }
}

@media (max-width: 768px) {
  .presentation {
    display: grid;
    flex-wrap: nowrap;
    gap: initial;
    grid-gap: 1rem;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    padding-left: initial;
    padding-right: initial;
    width: initial;
  }

  /* .presentation > div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
  } */

  h1 {
    position: initial;
    top: 9vw;
    font-size: 2rem;
    margin: auto;
  }

  .icon-item {
    position: relative;
    /* border: red solid 1px; */
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
  }

  .title-dev-junior,
  .title-presentation {
    text-align: center;
  }

  .title-presentation {
    font-size: 1rem;
  }

  .description-presentation {
    font-size: 0.9rem;
  }

  .text-item {
    width: 350px;
    padding: 1.2rem;
    box-sizing: border-box;
  }
}

@media (max-width: 640px) {
  .presentation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: initial;
    align-items: center;
  }

  h1 {
    top: 5vw;
    text-align: center;
    font-size: 1.55rem;
  }

  .title-presentation {
    font-size: 1.5rem;
  }

  .description-presentation {
    font-size: 0.8rem;
  }

  .icon-item {
    position: relative;
    /* border: red solid 1px; */
  }

  .vincent-character {
    width: 15vw;
    top: 50%;
  }

  .text-item {
    width: 300px;
    padding: 1rem;
    box-sizing: border-box;
  }
}

@media (max-width: 475px) {
  h1 {
    top: 10vw;
    text-align: center;
    font-size: 1rem;
  }

  .title-presentation {
    font-size: 1.2rem;
  }

  .description-presentation {
    font-size: 0.7rem;
  }

  .text-item {
    width: 250px;
    padding: 0.8rem;
    box-sizing: border-box;
  }

  .animated-polygon-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    max-height: 100%;
    position: relative;
  }
}