.section {
  background: linear-gradient(
    to top,
    #dfdfdf 35%,
    #debbc4 50%,
    #dc92a6 80%,
    #d94169 100%
  );
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.presentation {
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  margin: 0 auto;
  overflow: visible;
}

.graduate-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sopraSteria {
  position: absolute; /* Assurez-vous d'avoir ce style si nécessaire */
  /* Autres styles */
}
