.section {
  background: linear-gradient(
    to bottom,
    #b781cf 5%,
    #debbc4 80%,
    #dc92a6 90%,
    #d94169 100%
  );
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.presentation {
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  /* border: 1px solid rgb(0, 255, 157); */
  margin: 0 auto;
  overflow: visible;
}

.animated-projects-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  /* border: 2px solid red; */
}

.repo-info {
  position: relative;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-top: auto; /* Aligne en bas du conteneur */
}

.repo-info > h2,
.more-info,
a {
  font-size: 1.25rem;
  text-decoration: none;
  margin-bottom: 25px;
}

a:visited,
a:focus,
a:hover {
  color: black;
}

.diamond {
  position: absolute;
  transition: top 0.3s ease, left 0.3s ease;
}

#bottom-text {
  opacity: 0; /* Commence invisible */
  transform: translateY(20px); /* Décale le texte vers le bas */
}

.bottom {
  position: absolute;
  bottom: 10%; /* Place la div au bas de la section */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste pour un centrage parfait */
  text-align: center;
  width: fit-content;
  border: none;
  padding: 2%;
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #04BAB6; /* Couleur de la bordure */
  pointer-events: none; /* Pour éviter les interférences avec les clics */
  z-index: -1; /* Pour que la bordure soit derrière le contenu */
  border-radius: 8px; /* Si tu veux des coins arrondis */
}

.diamond-png {
  width: 5%; /* Ou utilisez une valeur spécifique */
  height: auto; /* Pour conserver le ratio */
}