.section {
  background: linear-gradient(
    to bottom,
    #b781cf 5%,
    #debbc4 80%,
    #dc92a6 90%,
    #d94169 100%
  );
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.presentation {
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  /* border: 1px solid rgb(0, 255, 157); */
  margin: 0 auto;
  overflow: visible;
}


.animated-projects-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 2px solid red; */
}

.repo-info {
  position: absolute; /* Pour pouvoir le positionner */
  width: 250px;
  height: 400px;
}

.repo-info > h2,
p,
a {
  font-size: 1rem;
  transform: rotate(40deg) skew(40deg, -9deg); /* ajustez ces valeurs */
  transform-origin: top left; /* optionnel pour ajuster l'origine */
  text-decoration: none;
  margin-bottom: 25px;
}

a:visited, a:focus, a:hover {
  color: black;
}

.diamond {
  position: absolute;
  transition: top 0.3s ease, left 0.3s ease;
}
