.section {
  background: linear-gradient(
    to top,
    #dfdfdf 35%,
    #debbc4 50%,
    #dc92a6 80%,
    #d94169 100%
  );
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.presentation {
  padding-top: 2.5rem;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  margin: 0 auto;
  overflow: visible;
}

.graduate-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sopraSteria,
.ratp,
.certificate,
.graduate {
  position: absolute; /* Positionnez ces éléments si nécessaire */
}

.licence,
.bts,
.bac {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
}

.licence {
  top: 10%; /* Ajustez la valeur selon vos besoins */
  left: 40%; /* Ajustez la valeur selon vos besoins */
}

.bts {
  top: 30%; /* Ajustez la valeur selon vos besoins */
  left: 55%; /* Ajustez la valeur selon vos besoins */
}

.bac {
  top: 60%; /* Ajustez la valeur selon vos besoins */
  left: 25%; /* Ajustez la valeur selon vos besoins */
}

@media (max-width: 768px) {
  .licence {
    top: 15%; /* Ajustez la valeur selon vos besoins */
    left: 30%; /* Ajustez la valeur selon vos besoins */
  }

  .bts {
    top: 30%; /* Ajustez la valeur selon vos besoins */
    left: 65%; /* Ajustez la valeur selon vos besoins */
  }

  .bac {
    top: 60%; /* Ajustez la valeur selon vos besoins */
    left: 5%; /* Ajustez la valeur selon vos besoins */
  }
}

@media (max-width: 740px) {
  .licence,
  .bts,
  .bac {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .licence,
  .bts,
  .bac {
    position: absolute;
    font-size: 1rem;
    text-align: center;
  }
}