.section {
  background: linear-gradient(to bottom, #15aba8 60%, #4bbdb9 75%, #b781cf 95%);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
}