@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', sans-serif;
    color: #333;
    /* Couleur du texte */
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* Empêche le défilement du body */
}

.snap-container {
    height: 100vh;
    /* Chaque section prend la hauteur de la fenêtre */
    overflow-y: scroll;
    /* Permet le défilement vertical */
    scroll-snap-type: y mandatory;
    /* Active le scroll-snap sur l'axe Y */
    scroll-behavior: smooth;
    /* Animation douce lors du passage de page */
    -ms-overflow-style: none;
    /* Internet Explorer et Edge */
    scrollbar-width: none;
    /* Firefox */
}

.section {
    scroll-snap-align: start;
    /* Aligne chaque section au début lorsqu'elle apparaît */
    height: 100vh;
    /* Assure que chaque section prend toute la hauteur de la page */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .page {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
} */

/* Pour Chrome, Safari et Opera */
.snap-container::-webkit-scrollbar {
    display: none;
}

.pagination {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 200px;
  width: 20px;
  z-index: 1000;
  pointer-events: none;
}

.pagination-line {
  position: relative;
  height: 100%;
  width: 2px;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.pagination-cursor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 8px;
  transition: top 0.45s ease, background 0.45s ease; /* top + couleur fluide */
}