@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', sans-serif;
    color: #333; /* Couleur du texte */
}